*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
footer{
    background-color: #e5e8e8;
}
.footerbar{
    text-align: center;
}
.footerbar ul{
    display: flex;
    padding: 10px;
    margin: 20px;
    justify-content: center;
    gap: 30px;
    list-style-type: none;
}
.footerbar a{
    text-decoration: none;
} 

.footerbar ul li {
    flex-direction: column;
}
.footerbottom p{
   background-color: #aeb6bf ;
   text-align: center;
   font-size: medium;
   color: #fff;
}
.footerbottom span{
    color: #3507a2 ;
}